.popup__title {
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  margin-top: 43px;
  margin-bottom: 18px;
}

@media screen and (max-width: 500px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
    max-width: 74.375vw;
    width: 100%;
    margin-top: 42px;
    margin-bottom: 45px;
  }
}
