.footer__capture {
  margin: 0;
  padding: 0;
  color: #545454;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .footer__capture {
    font-size: 14px;
    line-height: 17px;
  }
}
