.popup__button-submit_disabled {
    background-color: white;
    opacity: 0.3;
    color: #000000;
    border: 1px solid #000000;
    cursor: auto;

}

.popup__button-submit_disabled:hover {
    opacity: 0.3;
}