.card__image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
