.authorization-page__form {
    width: 358px;
    width: 358px;
    max-width: 80%;
    max-height: 461px;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
    justify-content:flex-end
    }
    
    @media screen and (max-width: 767px) {
        .authorization-page__form  {
        max-width: 260px;
        margin: 40px 0 0px;
      }
    }
